.jumbotron {
    text-align: center;
    background: none;
}

.navbar-nav {
    text-align: right;
}

.navb .sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 3rem;
}

.myBtn {
    margin: auto;
    padding: 1rem 3rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: cornflowerblue;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modelFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}


button.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px; 
    margin-bottom: 20px; 
    width: 40%;
    background-color: cornflowerblue;
}

.MyformInput {
    display: block;
    margin: auto;
    
}

.fa {
    padding: 30px;
}

.footerImg {
    padding: 15px;
}

.socialWrapper {
    margin: auto;
}